#answers-form
  %p establish a price for the item you have listed
  .answers
    =form_for @item, :url=>question_path(@item), :method => :patch do |f|
      =f.fields_for :answers do |f1|
        =f1.text_field :answer, :class => "answer"
      #new-question
        .button.tiny new question
      =f.submit "save questions", :class=>"button"


:javascript
  $('.answer').hide();
  $('.answer:lt(2)').show();
  $('#new-question').on('click', function() {
    $('.answer:hidden:first').show();
  });
