#question-form
  %p let's start with the question you wanted answered.  depending on what kind of question you select, you will get a chance to supply answers in the next step
  =form_for :question, :url=>questions_path, :method => :post, :remote => :true do |f|
    =f.text_field :title
    =f.text_area :details
    =f.select :condition, ["multiple choice", "value", "open"]
    =f.text_field :topic_list, :input_html => {:class => 'item_tags'}
    =f.submit

