.claim[claim]
  =claim.item.title
  =claim.user.username
  -if claim.claim_status == "pending_payment"
    -if claim.user == current_user
      =link_to claim_payment_path(claim), :method => :post, :remote => :true do
        %button.small make payment
    -else
      %p you are awaiting payment from #{claim.user.username} on item #{claim.item.title}

  -elsif claim.claim_status == "submitted"
    -if claim.user != current_user

      %button.small{:onclick => "$(this).next().show();"} accept
      .claim-buttons{:style=>"display:none;"}
        =link_to claim_accept_path(claim, :claim_condition=>"payment"), :method => :post, :remote => :true do
          %button.small accept on digital payment
        =link_to claim_accept_path(claim), :method => :post, :remote => :true do
          %button.small accept
      =link_to claim_deny_path(claim), :method => :post, :remote => :true do
        %button.small deny
  -elsif claim.claim_status == "accepted"
    -if claim.user == current_user
      %p your claim has been accepted!  be in touch with #{claim.item.user.username} ASAP to arrange transfer
      -# insert button to message user
    -else
      %p you've accepted this claim. be in touch with #{claim.user.username} ASAP to arrange transfer
