%h3=@user.username
-if user_signed_in?
  -@subscription = current_user.subscriptions.where(:subscription_id => @user.id).first
  -if @subscription.present?
    =render :partial => 'subscriptions/unfollow_user', :locals => {user:@user}
  -else
    =render :partial => 'subscriptions/follow_user', :locals => {user:@user}
=image_tag @user.pic.url(:medium)
%hr
=render @shared

-if user_signed_in?
  =link_to "flag user", "#", :"data-reveal-id"=>"flag"
  #flag.reveal-modal{"data-reveal" => ""}
    %h4 Flag #{@user.username}


    =form_for :flag, :url => user_flags_path(@user.id), :method=>:post, :remote=>:true do
      =hidden_field_tag :flagged_by, current_user.id
      =hidden_field_tag :user_id, @user.id
      %label which etiquette rule did this user break?
      =select_tag :term, options_from_collection_for_select(Term.where(:term_type=>"offline"), "id", "title")
      =hidden_field_tag :term_type, "offline"
      =text_area_tag :comment, nil,:placeholder => "add an optional comment here to explain your reason for flagging"
      =submit_tag "Flag User", :class => "button"
    %a.close-reveal-modal ×

