%div{:id=>"item-#{@freepile.id}"}
  =@freepile.title
  #map-canvas{:style=>"height:300px;"}
  -if user_signed_in?
    -if current_user.watches.where(:item_id=>@freepile.id).present?
      =link_to item_watches_path(@freepile.id), :remote => :true, :method=>:post do
        %button.watch unwatch
    -else
      =link_to item_watches_path(@freepile.id), :remote => :true, :method=>:post do
        %button.watch watch
  =render :partial => 'items/tags', :locals=>{item:@freepile}
  #item-photo
    =render :partial => 'items/photo', :locals=>{item:@freepile}
  =s3_uploader_form callback_url: upload_file_item_path(@freepile), remote: :true, callback_param: "item[image_url]", id: "s3-uploader" do
    %div#test
      .wrapper
        =file_field_tag :file
      %button upload image
  %script#template-upload{:type => "text/x-tmpl"}
    .upload{:id => "file-{%=o.unique_id%}"}
      {%=o.name%}
      .progress
        .bar{:style => "width: 0%"}
:javascript
  $(document).on('ready page:load', function(){

    $("#s3-uploader").S3Uploader();
    coord = "#{@freepile.latlng}";
    coords = coord.split(",");
    latlng = new google.maps.LatLng(coords[0],coords[1]);
    options = {
      language: 'en-GB',
      center: latlng,
      zoom: 14
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), options);
    marker = new google.maps.Marker({
      position:latlng,
      map: map,
      title: "#{@freepile.title}"
    });
  });