%div{:id=>"item-#{@freepile.id}"}
  =@freepile.title
  #map-canvas{:style=>"height:300px;"}
  -if user_signed_in?
    -if current_user.watches.where(:item_id=>@freepile.id).present?
      =link_to item_watches_path(@freepile.id), :remote => :true, :method=>:post do
        %button.watch unwatch
    -else
      =link_to item_watches_path(@freepile.id), :remote => :true, :method=>:post do
        %button.watch watch
  =render :partial => 'items/tags', :locals=>{item:@freepile}
:javascript
  $(document).on('ready page:load', function(){
    coord = "#{@freepile.latlng}";
    coords = coord.split(",");
    latlng = new google.maps.LatLng(coords[0],coords[1]);
    options = {
      language: 'en-GB',
      center: latlng,
      zoom: 14
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), options);
    marker = new google.maps.Marker({
      position:latlng,
      map: map,
      title: "#{@freepile.title}"
    });
  });