.request[request]
  =request.title
  %br
  =request.body
  .request-comments
    .comments
      = render :partial => 'comments/comment', :collection => request.comment_threads.order('created_at desc'), :as => :comment
    -if user_signed_in?
      = render :partial => 'comments/form', :locals => { :comment => Comment.build_from(request, current_user.id, "") }
  .suggest-buttons
    %button.fulfill{:value => request.id} fulfill
    %button.notify{:value => request.id} fulfill with existing item
  .suggestions
    -request.suggestions.each do |item|
      =link_to item.title, item_path(item)
      %br
