#items
#claims
  -if user_signed_in?
    =render @claims

    =render @claimed
= form_tag charges_path do
  %article
    %label.amount
      %span Amount: $5.00
  %script.stripe-button{"data-amount" => "500", "data-description" => "A month's subscription", "data-key" => Rails.configuration.stripe[:publishable_key], :src => "https://checkout.stripe.com/checkout.js"}


-@event = Event.new
-@event.spots.build
=form_for @event, :url=>events_path, :method => :post do |f|
  =f.text_area :title
  =f.text_field :topic_list
  =f.fields_for :spots do |f1|
    =f1.select :spot_type, ["dine in","take out"]
    =f1.number_field  :spot_count
  =f.submit



