#product-form
  =form_for :swap_product, :url=>swap_products_path, :method => :post, :remote=>:true do |f|
    =f.text_field :title
    =f.text_area :details
    =f.text_field :topic_list

    =f.submit