/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require s3_direct_upload_progress_bars
 */

@import 'foundation-icons';

#new-item {
      z-index: 100 !important; }

.reveal-modal-bg {
  z-index: 99 !important;
}

#reactions {
  i,div {
    display:inline;
  }
}

/* comments */

.comment {
  position: relative;
  text-align: left;
  margin-bottom: 3px;
}


.comment-delete {
  display: block;
  position: absolute !important;
  width: 18px;
  height: 18px;
  line-height: 16px;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  top: 2px;
  right: 2px;
  padding: 3px;
  background: #ccc;
}
.comment-delete:hover {
  background: #bbb;
  text-decoration: none;
}
.comment-left {
  float: left;
  padding: 3px;
  width: 54px;
  height: 54px;
  margin-right: -60px;
  min-width: 40px;
  min-height: 40px;
  overflow: hidden;
  background-color: #BDA142;
}
.comment-content {
  float: left;
  width: 100%;

}
.comment-right {
  margin-left: 60px;
  padding: 0px 10px;
  line-height: 1;
}
.comment-meta {
  margin-right: 40px;
}
.comment-author {
  float: left;
  font-size: 15px;
  color: #000;
  margin-top: 5px;
}

.comment-show-reply {

  font-size: 13px;

}
.comment-date {
  font-size: 12px;
  margin-right: 5px;

  i {
    font-size: 18px;
    margin-left: 6px;
  }
}
.comment-meta, .comment-meta a {
  color: #395771;
}
.comment-block p {
  margin-bottom: 10px;
  margin-top: 0;
}

.choose-answer {
  padding: 5px;
  margin-bottom: 5px;
}
.choose-answer:hover {
  background-color: red;
}

.selected {
  background-color: red;
}

.answer-pct, .choose-answer {
  display: inline;
  line-height: 40px;
}
