-@item.prices.build
#price-form
  %p establish a price for the item you have listed
  =form_for @item, :url=>product_path(@item), :method => :patch do |f|
    =f.fields_for :prices do |f1|
      =f1.number_field :value, :class => "answer"
      =f1.select :currency, ["usd","ithacash"]
      %label will you accept best offer
      =f1.check_box :negotiable
      %label will you allow digital payments
      =f1.check_box :digital_payment
    =f.submit "set price", :class=>"button"
