#new-item.reveal-modal{:reveal_id => ""}
  %h4 add new swidjit
  .button{:value=>"freepile"} freepile
  .button{:value=>"comment"} comment

:javascript
  $(document).on('ready page:load', function(){
    $('.button').on("click", function() {
      switch ($(this).attr("value")) {
        case 'freepile':
          $("#new-item").html("#{escape_javascript render :partial => 'freepiles/form'}");
          break;
        case 'comment':
          $("#new-item").html("#{escape_javascript render :partial => 'comments/form'}");
          break;
      };
    });
  });

