%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        =link_to root_path do
          %i.fi-play
          Swidjit
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    -if user_signed_in?
      %ul.right

        %li.has-dropdown
          =link_to current_user.username, profile_path(current_user.username)
          %ul.dropdown
            %li
              =link_to "messages", user_conversations_path(current_user)
            %li
              =link_to "settings", edit_user_path(current_user)
            %li.active
              = link_to "Log out", destroy_session_path(:user), :method => :delete
        %li
          =image_tag current_user.pic.url(:thumb), :size => '60x60'
    -else
      %ul.right
        %li.active
          =link_to "Login/Signup", new_user_session_path

